################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp/CsPoc/ODataApiClient/obj/Debug
/CSharp/CsPoc/.vs/CsPoc/v15/.suo
*.cache
/CSharp/CsPoc/.vs/CsPoc/v15
/CSharp/CsPoc/ODataApiClient/bin/Debug
/CSharp/CsPoc/packages
/CSharp/CsPoc/CsPoc/obj/Debug/build.force
/CSharp/CsPoc/CsPoc/obj/Debug/*.*
/CSharp/CsPoc/CsPoc/obj/*
/CSharp/CsPoc/CsPoc/bin/*
/CSharp/CsPoc/CsPoc/bin/Debug/*.*
