################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp/CsPoc/ODataApiClient/obj/Debug
/CSharp/CsPoc/.vs/CsPoc/v15/.suo
*.cache
/CSharp/CsPoc/.vs/CsPoc/v15
