################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp/CsPoc/ODataApiClient/obj/Debug
