<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <priority value="INFO" />
      <appender-ref ref="InfoAppender" />
    </root>
    <logger name="logerror">
      <level value="ERROR" />
      <appender-ref ref="ErrorAppender" />
    </logger>
    <logger name="loginfo">
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="errorLog\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <layout type="CSDemo.CsPocLayout, CsPoc">
        <param name="ConversionPattern" value="%-5p %d [%c] %m%n %SuportCode %property{MessageBody}" />
      </layout>
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <file value="infoLog\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <layout type="CSDemo.JsonLayout, CsPoc">
        <!--<param name="ConversionPattern" value=" %SuportCode  %newline %nLogTime：%date %nThreadID:[%thread] %nLogLevel：  %-5level %nClass：%logger property: [%property{NDC}] - %nDescription：%message%newline %n" />-->
      </layout>
    </appender>
  </log4net>
</configuration>
