
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LayoutDeom_03</title>
</head>
<body>
    <div>
        没有Layout
    </div>
</body>
</html>
