<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logConfig" type="StdTwoLib.logConfig, StdTwoLib" />
  </configSections>
  <logConfig name="fish-li" key="http://www.cnblogs.com/fish-li/"></logConfig>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=dev4dnvgl;AccountKey=erasetokeepsafe;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>