<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <serConfig>
    <name>fish-li</name>
    <key>http://www.cnblogs.com/fish-li/</key>
  </serConfig>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=dev4dnvgl;AccountKey=erasetokeepsafe;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>